$container-bg-color: #eee;
$gallery-color: #fff;
$header: 6rem;
$container-radius: 0.6rem;
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";


html {
	font-size: 62.5%;/* from amazeui */
	max-width: 100%;
}

body {
	font-size:1.6rem;
	padding-top: $header;
}

h1 {
	padding-top: 3rem;
}

h4 {
	padding-top: 1rem;
}

.bg-color-grey {
	background-color: $container-bg-color;
	border-radius: $container-radius;
	.gallery {
		padding: 0.5rem;
		margin-left: 5rem;
		margin-right: 5rem;
		background-color: $gallery-color;
		img {
			width: 100%;
			height: auto;
		}	
		p {
			padding-top: 0.5rem;
		}	
	}
}

@media #{$mobile} {
	.bg-color-grey {
		background-color: $container-bg-color;
		border-radius: $container-radius;
		.gallery {
			padding: 0.2rem;
			margin-left: 0.5rem;
			margin-right: 0.5rem;
			background-color: $gallery-color;
			img {
				width: 100%;
				height: auto;
			}
			p {
				padding-top: 0.5rem;
			}		
		}
	}
}

article {
	padding-left: 16.7%;
	padding-top: 2rem;
	width: 83.3%;
	ul li {
			font-size: 1.3rem;
	}
	.person {
		font-weight: 600;
	}
}

@media #{$mobile} {
	article {
		padding-left: 5%;
		padding-top: 1rem;
		width: 95%;
		ul li {
			font-size: 1.3rem;
		}
		.person {
			font-weight: 600;
		}
	}
}

.footer {

	border-top:0.1rem solid #000;
	maragin-top: 1rem;
	padding-top: 1rem;
	p {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}