html {
  font-size: 62.5%;
  /* from amazeui */
  max-width: 100%;
}

body {
  font-size: 1.6rem;
  padding-top: 6rem;
}

h1 {
  padding-top: 3rem;
}

h4 {
  padding-top: 1rem;
}

.bg-color-grey {
  background-color: #eee;
  border-radius: 0.6rem;
}
.bg-color-grey .gallery {
  padding: 0.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: #fff;
}
.bg-color-grey .gallery img {
  width: 100%;
  height: auto;
}
.bg-color-grey .gallery p {
  padding-top: 0.5rem;
}

@media (max-width: 767px) {
  .bg-color-grey {
    background-color: #eee;
    border-radius: 0.6rem;
  }
  .bg-color-grey .gallery {
    padding: 0.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: #fff;
  }
  .bg-color-grey .gallery img {
    width: 100%;
    height: auto;
  }
  .bg-color-grey .gallery p {
    padding-top: 0.5rem;
  }
}
article {
  padding-left: 16.7%;
  padding-top: 2rem;
  width: 83.3%;
}
article ul li {
  font-size: 1.3rem;
}
article .person {
  font-weight: 600;
}

@media (max-width: 767px) {
  article {
    padding-left: 5%;
    padding-top: 1rem;
    width: 95%;
  }
  article ul li {
    font-size: 1.3rem;
  }
  article .person {
    font-weight: 600;
  }
}
.footer {
  border-top: 0.1rem solid #000;
  maragin-top: 1rem;
  padding-top: 1rem;
}
.footer p {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
